In [38]:
import pandas as pd
import numpy as np
import os # Import os for file path management, though not strictly needed here, it's good practice.

# --- TASK 1: CREATE DATAFRAMES AND SAVE AS CSV FILES ---
# Question: There are three different tables as given above. Please make three dataframe in python
# and save them as three .csv files. From Task 2 to Task 10, use the saved.csv files only.

print("--- Task 1: Creating and Saving Initial DataFrames ---")

# 1.  Here creating project data
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    # Using None for missing Cost values, which will become NaN in Pandas
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
# Here converting the project data into PANDAS DataFrame
df_project = pd.DataFrame(project_data)

# 2. Here creating employee data
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
# Here converting the emploee data into PANDAS DataFrame
df_employee = pd.DataFrame(employee_data)

# 3. Seniority Level DataFrame Data
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
# # Here converting the seniority level data  data into PANDAS DataFrame

df_seniority_level = pd.DataFrame(seniority_data)

# Save the DataFrames to CSV files (Index are false as already we having the id as the row level so we don't required any row level)
df_project.to_csv('project.csv', index=False)
df_employee.to_csv('employee.csv', index=False)
df_seniority_level.to_csv('seniority.csv', index=False)

print("DataFrames created and saved as project.csv, employee.csv, and seniority.csv.")
print("-" * 60)

# Displaying  all created data for better clarity 
print("\n[Verification] Project DataFrame:")
print(df_project)
print("\n[Verification] Employee DataFrame:")
print(df_employee)
print("\n[Verification] Seniority Level DataFrame:")
print(df_seniority_level)
print("\nSuccessfully created and saved three CSV files.")
print("-" * 70)

--- Task 1: Creating and Saving Initial DataFrames ---
DataFrames created and saved as project.csv, employee.csv, and seniority.csv.
------------------------------------------------------------

[Verification] Project DataFrame:
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

[Verification] Employee DataFrame:
     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

[Verification] Seniority Level DataFrame:
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

Successfully created and saved three CSV files.
----------------------------------------------------------------------

In [41]:
# --- TASK 2: COMPUTE MISSING VALUES USING RUNNING AVERAGE ---
# Question: The cost column in the dataframe "Project" has some missing values. My task is to
# compute these missing values. Replace the missing values by running average. 

print("--- Task 2: Imputing Missing Cost Values using Running Average ---")

# Loaded the DataFrame from the saved CSV (as per Task 2 instructions)
df_project = pd.read_csv('project.csv')
# Convert the 'Cost' column to numeric, setting non-numeric/missing values to NaN
df_project['Cost'] = pd.to_numeric(df_project['Cost'], errors='coerce')


# Initialize variables for running average calculation
running_sum = 0
running_count = 0

# Used a For loop to iterate through the 'Cost' column as required
for i in range(len(df_project)): # Loop through each row index
    current_cost = df_project.loc[i, 'Cost'] # Get the cost value for the current row

    if pd.notna(current_cost): # Checked if the cost is not missing (NaN)
        # Updated running sum and count if the value is valid
        running_sum += current_cost
        running_count += 1
    elif running_count > 0: # If the cost is missing and we have valid preceding costs
        # Calculate the running average
        running_average = running_sum / running_count
        # Replacedthe missing value (NaN) with the calculated running average
        df_project.loc[i, 'Cost'] = running_average
    # Note: If a missing value is encountered before any valid costs, it will remain NaN
    # However, in this dataset, the first NaN is at index 4, after valid costs.

# Converted the 'Cost' column to integer type after filling NaNs
df_project['Cost'] = df_project['Cost'].astype(int)

print("\nTask 2 Completed: Missing 'Cost' values replaced by running average.")
print(df_project)
print("-" * 70)

--- Task 2: Imputing Missing Cost Values using Running Average ---

Task 2 Completed: Missing 'Cost' values replaced by running average.
      ID     Project     Cost    Status
0   A001   Project 1  1002000  Finished
1   A002   Project 2  2000000   Ongoing
2   A003   Project 3  4500000  Finished
3   A004   Project 4  5500000   Ongoing
4   A005   Project 5  3250500  Finished
5   A002   Project 6   680000    Failed
6   A005   Project 7   400000  Finished
7   A003   Project 8   350000    Failed
8   A001   Project 9  2061714   Ongoing
9   A003  Project 10   300000  Finished
10  A001  Project 11  2000000    Failed
11  A004  Project 12  1000000   Ongoing
12  A004  Project 13  3000000  Finished
13  A005  Project 14   200000  Finished
----------------------------------------------------------------------

In [42]:
# --- TASK 3: SPLIT AND REMOVE NAME COLUMN ---
# Question: Split the name column in the Employee dataframe into two new columns "First Name",
# and "LastName" and remove the older "name" column.

print("--- Task 3: Splitting Name Column ---")

# Loaded the Employee DataFrame from CSV
df_employee = pd.read_csv('employee.csv')

# Split the 'Name' column based on the space delimiter. expand=True creates new columns.
df_employee[['First Name', 'LastName']] = df_employee['Name'].str.split(' ', expand=True)

# Removed the original 'Name' column (axis=1 specifies column)
df_employee = df_employee.drop('Name', axis=1)

print("Updated Employee DataFrame with split names:")
print(df_employee)
print("-" * 60)

--- Task 3: Splitting Name Column ---
Updated Employee DataFrame with split names:
     ID Gender     City  Age First Name   LastName
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny
------------------------------------------------------------

In [43]:


# --- TASK 4: JOIN ALL THREE DATAFRAMES ---
# Question: Join all three dataframes in one single dataframe. Name it "Final"

print("--- Task 4: Joining DataFrames into 'Final' DataFrame ---")

# Load Seniority Level DataFrame from CSV
df_seniority_level = pd.read_csv('seniority.csv')

# 1. Merge Project and Employee DataFrames on 'ID'.
# Use a left merge to ensure all project rows are kept.
df_final = pd.merge(df_project, df_employee, on='ID', how='left')

# 2. Merge the result with the Seniority Level DataFrame on 'ID'.
df_final = pd.merge(df_final, df_seniority_level, on='ID', how='left')

# Rename the Designation Level column for easier access
df_final = df_final.rename(columns={'Designation Level': 'Designation_Level'})

print("The 'Final' DataFrame (first 5 rows):")
print(df_final.head())
print("-" * 60)

--- Task 4: Joining DataFrames into 'Final' DataFrame ---
The 'Final' DataFrame (first 5 rows):
     ID    Project     Cost    Status Gender     City  Age First Name  \
0  A001  Project 1  1002000  Finished      M    Paris   25       John
1  A002  Project 2  2000000   Ongoing      F   London   27      Alice
2  A003  Project 3  4500000  Finished      M   Berlin   29        Tom
3  A004  Project 4  5500000   Ongoing      F  Newyork   31       Nina
4  A005  Project 5  3250500  Finished      F   Madrid   30        Amy

    LastName  Designation_Level
0      Alter                  2
1  Luxumberg                  2
2  Sabestine                  3
3      Adgra                  2
4      Johny                  3
------------------------------------------------------------

In [44]:
# --- TASK 5: ADD BONUS COLUMN ---
# Question: Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project
# cost only to employees who have finished the projects.

print("--- Task 5: Adding 5% Bonus for Finished Projects ---")

# Create the 'Bonus' column using np.where for conditional calculation
df_final['Bonus'] = np.where(
    # Condition: Status is exactly 'Finished'
    df_final['Status'] == 'Finished',
    # Value if True: 5% of the project's Cost
    df_final['Cost'] * 0.05,
    # Value if False: 0
    0
)

print("Final DataFrame with 'Bonus' column (Filtered for Finished projects to show effect):")
print(df_final[df_final['Status'] == 'Finished'][['Project', 'Cost', 'Status', 'Bonus']].head(5))
print("-" * 60)

--- Task 5: Adding 5% Bonus for Finished Projects ---
Final DataFrame with 'Bonus' column (Filtered for Finished projects to show effect):
      Project     Cost    Status     Bonus
0   Project 1  1002000  Finished   50100.0
2   Project 3  4500000  Finished  225000.0
4   Project 5  3250500  Finished  162525.0
6   Project 7   400000  Finished   20000.0
9  Project 10   300000  Finished   15000.0
------------------------------------------------------------

In [45]:
# --- TASK 6: DEMOTION AND RECORD DELETION ---
# Question: Demote the designation level by 1, whose projects have status "fail". Delete the
# employees record whose designation level is above 4.

print("--- Task 6: Demotion and Deleting Ineligible Employees ---")

# 1. Demote: Increase the Designation Level by 1 for 'Failed' projects
# We use np.where to conditionally update the Designation_Level
df_final['Designation_Level'] = np.where(
    # Condition: Status is 'Failed'
    df_final['Status'] == 'Failed',
    # Action (Demotion): Increment the level by 1
    df_final['Designation_Level'] + 1,
    # Keep the original level otherwise
    df_final['Designation_Level']
)

# 2. Delete: Remove records where Designation_Level is above 4 (loses eligibility)
# Filter the DataFrame to keep only rows where the level is 4 or less
initial_rows = len(df_final)
df_final = df_final[df_final['Designation_Level'] <= 4]
rows_deleted = initial_rows - len(df_final)

print(f"Number of rows deleted because Designation Level exceeded 4: {rows_deleted}")
print("Final DataFrame after demotion/deletion (showing relevant columns):")
print(df_final[['Project', 'Status', 'Designation_Level']].tail(5)) # Showing last 5 rows after potential deletion
print("-" * 60)

--- Task 6: Demotion and Deleting Ineligible Employees ---
Number of rows deleted because Designation Level exceeded 4: 0
Final DataFrame after demotion/deletion (showing relevant columns):
       Project    Status  Designation_Level
9   Project 10  Finished                  3
10  Project 11    Failed                  3
11  Project 12   Ongoing                  2
12  Project 13  Finished                  2
13  Project 14  Finished                  3
------------------------------------------------------------

In [46]:

# --- TASK 7: ADD TITLE AND DROP GENDER ---
# Question: Add "Mr." and "Mrs." to the first name column and drop the gender column.

print("--- Task 7: Adding Titles and Dropping Gender Column ---")

# Add the appropriate title based on the 'Gender' column
df_final['First Name'] = np.where(
    # Condition: Gender is Male ('M')
    df_final['Gender'] == 'M',
    # Value if True: Prepend 'Mr.'
    'Mr. ' + df_final['First Name'],
    # Value if False: Prepend 'Mrs.' (assuming all others are Female 'F')
    'Mrs. ' + df_final['First Name']
)

# Drop the 'Gender' column (axis=1)
df_final = df_final.drop('Gender', axis=1)

print("Final DataFrame 'First Name' column after adding titles:")
print(df_final[['First Name', 'LastName']].head())
print("-" * 60)

--- Task 7: Adding Titles and Dropping Gender Column ---
Final DataFrame 'First Name' column after adding titles:
   First Name   LastName
0    Mr. John      Alter
1  Mrs. Alice  Luxumberg
2     Mr. Tom  Sabestine
3   Mrs. Nina      Adgra
4    Mrs. Amy      Johny
------------------------------------------------------------

In [49]:


# --- TASK 8: CONDITIONAL PROMOTION ---
# Question: Promote designation level by 1 for the employees whose age is more than 29 years
# using IF condition. (Promotion means Designation Level decreases by 1).

print("--- Task 8: Promoting Employees with Age > 29 ---")

# Ensure 'Age' is numeric
df_final['Age'] = pd.to_numeric(df_final['Age'], errors='coerce')

# Promote: Decrease the Designation Level by 1 if Age > 29 (1 is highest, so lower number is promotion)
df_final['Designation_Level'] = np.where(
    df_final['Age'] > 29,
    df_final['Designation_Level'] - 1,      # Promotion (level - 1)
    df_final['Designation_Level']
)

print("\n[Result] Employees promoted (Age > 29) showing unique details:")
# Filter to show the affected employees and drop duplicates by ID
promoted_employees = df_final[df_final['Age'] > 29][['First Name', 'Age', 'Designation_Level']].drop_duplicates(subset=['First Name'])
print(promoted_employees)
print("-" * 70)

--- Task 8: Promoting Employees with Age > 29 ---

[Result] Employees promoted (Age > 29) showing unique details:
  First Name  Age  Designation_Level
3  Mrs. Nina   31                 -1
4   Mrs. Amy   30                  0
----------------------------------------------------------------------

In [50]:
# --- TASK 9: CALCULATE TOTAL PROJECT COST PER EMPLOYEE ---
# Question: Save the total project cost for each Employee in new dataframe "TotalProjCost"
# with three columns ID, First Name, and Total cost.

print("--- Task 9: Calculating Total Project Cost per Employee ---")

# Group by 'ID' and 'First Name' and sum the 'Cost' column
df_total_proj_cost = df_final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Rename the aggregated 'Cost' column to 'Total cost'
df_total_proj_cost = df_total_proj_cost.rename(columns={'Cost': 'Total cost'})

# Save the resulting DataFrame to a CSV
df_total_proj_cost.to_csv('TotalProjCost.csv', index=False)

print("\n[Result] The new 'TotalProjCost' DataFrame:")
print(df_total_proj_cost)
print("-" * 70)

--- Task 9: Calculating Total Project Cost per Employee ---

[Result] The new 'TotalProjCost' DataFrame:
     ID  First Name  Total cost
0  A001    Mr. John     5063714
1  A002  Mrs. Alice     2680000
2  A003     Mr. Tom     5150000
3  A004   Mrs. Nina     9500000
4  A005    Mrs. Amy     3850500
----------------------------------------------------------------------

In [51]:

# --- TASK 10: PRINT EMPLOYEE DETAILS BY CITY FILTER ---
# Question: Print all the employee details whose city name contains the letter "o" in it.

print("--- Task 10: Printing Employee Details for Cities Containing 'o' ---")

# Filter the 'Final' DataFrame using .str.contains() for the letter 'o' (case-insensitive)
df_city_filter = df_final[df_final['City'].str.contains('o', case=False, na=False)]

# Select the necessary employee detail columns and drop duplicates to show each employee once
employee_details_by_city = df_city_filter[['ID', 'First Name', 'LastName', 'City', 'Age', 'Designation_Level']].drop_duplicates(subset=['ID'])

# Print the resulting DataFrame
print("Employee details where the city name contains the letter 'o':")
print(employee_details_by_city)
print("-" * 60)

--- Task 10: Printing Employee Details for Cities Containing 'o' ---
Employee details where the city name contains the letter 'o':
     ID  First Name   LastName     City  Age  Designation_Level
1  A002  Mrs. Alice  Luxumberg   London   27                  2
3  A004   Mrs. Nina      Adgra  Newyork   31                 -1
------------------------------------------------------------